<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDataService" />
                <binding name="BasicHttpBinding_IMetaDataService" />
                <binding name="BasicHttpBinding_ISessionService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dad.tvdomain.local:8081/DataService/basic/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataService"
                contract="Ws.IDataService" name="BasicHttpBinding_IDataService" />
            <endpoint address="http://dad.tvdomain.local:8081/DataService/basic/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMetaDataService"
                contract="Ws.IMetaDataService" name="BasicHttpBinding_IMetaDataService" />
            <endpoint address="http://dad.tvdomain.local:8081/DataService/basic/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISessionService"
                contract="Ws.ISessionService" name="BasicHttpBinding_ISessionService" />
        </client>
    </system.serviceModel>
</configuration>