<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDataService" />
                <binding name="BasicHttpBinding_IMetaDataService" />
                <binding name="BasicHttpBinding_ISessionService" />
                <binding name="BasicHttpBinding_IDataService1" />
                <binding name="BasicHttpBinding_IMetaDataService1" />
                <binding name="BasicHttpBinding_ISessionService1" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDataService" />
                <binding name="NetTcpBinding_IMetaDataService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://dad.tvdomain.local:8081/DataService/basic/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataService"
                contract="Ws.IDataService" name="BasicHttpBinding_IDataService" />
            <endpoint address="http://dad.tvdomain.local:8081/DataService/basic/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMetaDataService"
                contract="Ws.IMetaDataService" name="BasicHttpBinding_IMetaDataService" />
            <endpoint address="http://dad.tvdomain.local:8081/DataService/basic/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISessionService"
                contract="Ws.ISessionService" name="BasicHttpBinding_ISessionService" />
            <endpoint address="net.tcp://lime.tvdomain.local:8082/DataService/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDataService"
                contract="Ws.IDataService" name="NetTcpBinding_IDataService">
                <identity>
                    <servicePrincipalName value="host/LIME.tvdomain.local" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://lime.tvdomain.local:8082/DataService/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMetaDataService"
                contract="Ws.IMetaDataService" name="NetTcpBinding_IMetaDataService">
                <identity>
                    <servicePrincipalName value="host/LIME.tvdomain.local" />
                </identity>
            </endpoint>
            <endpoint address="http://lime.tvdomain.local:8081/DataService/basic/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataService1"
                contract="Ws.IDataService" name="BasicHttpBinding_IDataService1" />
            <endpoint address="http://lime.tvdomain.local:8081/DataService/basic/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMetaDataService1"
                contract="Ws.IMetaDataService" name="BasicHttpBinding_IMetaDataService1" />
            <endpoint address="http://lime.tvdomain.local:8081/DataService/basic/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISessionService1"
                contract="Ws.ISessionService" name="BasicHttpBinding_ISessionService1" />
        </client>
    </system.serviceModel>
</configuration>